<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!--Para poder poner un icono en la barra de navegacion-->
    <link  rel="icon"   href="../statics/media/img/logoarcade.png" type="image/png">
    <meta charset="utf-8">
    <!--El titulo que de la pestaña que aparecera en el navegador-->
    <title>Inicio Sesión</title>
    <!--Para poder ocupar la hoja de estilos-->
    <link rel="stylesheet" href="../statics/css/iniciosesion.css">
    <!--ara poder ocupar los favicons-->
    <link rel="stylesheet" href="../lib/fontawesome_5_13/css/all.css">
  </head>
  <body>
    <!--Header de la pagina-->
    <header>
      <a id="logo-header" href="Paginainicio.html"><img src="../statics/media/img/logoarcade.png" class="logo"></a>
      <nav id="menu">
        <ul>
          <li><a href="">Usuario</a>
            <ul>
              <li><a href="registrosesion.html"><i class="fas fa-user-plus"></i>Sign Up</a></li>
            </ul>
          </li>
          <li><a href="historia.html"><i class="fas fa-user-friends"></i> Acerca de Neon's Arcade 80's</a></li>
        </ul>
      </nav>
    </header>
    <div>
      <!--Seccion que contiene el form-->
      <section>
        <!--div que contendra el form-->
        <div class="inicio">
          <!--Indicar el inicio de un formulario-->
          <form action="Juegos.html"><h1>NEON's RETRO ARCADE 80's</h1><br>
            <!--Margen que contendra el formulario-->
            <fieldset>
              <!--Leyenda que contendra el formulario-->
              <legend>Inicio Sesion</legend><br>
              <!--Lo que tendra el formulario-->
              <p>Nombre de Usuario:<input type="text" name="Usuario"></p><br>
            </fieldset>
          </form>
        </div>
      </section>
      <!--El footer de la pagina-->
      <footer>
        <nav>
          <ul>
            <li class="footer">Copyright &copy; 2020<li>
            <li class="footer">Todos los derechos reservados.</li>
            <ul>
        </nav>
      </footer>
    </div>
  </body>
</html>
