<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NEON's RETRO 80's Arcade</title>
    <link rel="stylesheet" href="../statics/css/Paginainicio.css">
  </head>
  <body background="../statics/media/img/marsnn.gif">
    <audio autoplay loop>
    <source src="../statics/media/track/arcade.mp3" type="audio/mpeg">
    </audio>
    <header>
      <a id="logo-header"><img src="../statics/media/img/logoarcade.png" class="logo">
		</a>
	   <nav>
		  <ul>
        <li><a href="../Dynamics/menu4.php"><i class="fa fa-cutlery"></i></a></li>
			  <li><a href="historia.html">¿Qué es Neon's Arcade 80's?</a></li>
        <li><a href="Mapa.html"><i class="fa fa-map-o"></i></a></li>
			  <li><a href="sessioncaf.html">Log In</a></li>
			  <li><a href="RegistroCafe.html">Sign Up</a></li>
		  </ul>
	  </nav>
   </header>
  </body>
</html>
